

/* Put your custom styles here */

.btn .active
{
    background-color: #25cba0;
}

.radio input[type="radio"]
{
    display: none;
}

.form-control {
	margin-bottom: 5px;
	border: 2px solid rgba(180,180,180,0.5);
}

.boxed {
	margin: 10px;
	border: 2px solid #000;
}

.quiz-title-class .well{
	background: rgba(255,255,255,0.8) !important;
	margin-top: 20px !important;
	
}