

        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand aqua" href="{{@BASE}}/">REALLY, MEH?</a> 
                </div>                 
            </div>             
        </nav>
        <div class="container quiz-title-class">
            <h3>{{ @quiz.name }} (<b>Quiz Results</b>)</h3>
            <div class="well">
                <div class="row">
                    <div class="col-xs-6">{{ date('d M',strtotime(@quiz.createdat)) }}</div>
                    <div class="col-xs-3 text-right">{{ @quiz.numparticipants }} <i class="fa fa-users fa-lg"></i></div>
                    <div class="col-xs-3 text-right">
                        <span class="fb-comments-count" data-href="http://www.gauravkeerthi.com/reallymeh/quiz/{{@eachquiz.id}}"></span> 
                        <i class="fa fa-comments fa-lg"></i> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ @quiz.description }}</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="container"> <!-- {{ @correctcount = 0 }} -->
            
            <repeat group="{{ @questions }}" key="{{ @count }}" value="{{ @question }}">
            
                <div class="row">
                    <div class="col-md-6">
                        <!--  {{ @currentnumber = @count+1 }} -->
                        <h5>{{ @currentnumber }}. {{ @question.text }}</h5> 
                        <check if="{{ @question.byline }}">
                            <true><small>{{ @question.byline }}</small></true>                            
                        </check>
                    </div>            
                    <div class="col-md-6">
                        <!-- {{  @currentquestion = 'question'.@currentnumber }} -->

                        <p>You guessed it was approximately: {{@quizresults[@currentquestion]}}                            
                            <check if="{{ @quizresults[@currentquestion] == @question.correctanswer || ( @quizresults[@currentquestion] > @question.correctanswer && @quizresults[@currentquestion] > (@question.correctanswer-10) )}}">
                                <true>
                                    <span class="answer_correct">CORRECT!</span>
                                    <!-- {{ @correctcount = @correctcount +1 }} -->
                                </true>                            
                                <false><span class="answer_wrong">Wrong.</span></false>
                            </check>
                        </p>
                        <p>The correct answer is: {{ @question.correctanswer }}</p>                        
                        <p>Other people guessed: [feature coming soon]</p>
                        <p>{{ @question.answerwriteup }}</p>
                    </div>
                    <hr class="bg-silver" />
                </div>

            </repeat>  
            <div class="well text-center col-sm-6 col-sm-offset-3">
                <img src="{{ @BASE }}/app/views/images/answer{{@correctcount}}.jpg" width="100%" class="img-rounded img-responsive" />
                <h4>
                {{ @correctcount }}/10 correct! You have received the 
                    <b><switch expr="@correctcount">
                        <case value="10">Champion Nerd</case>
                        <case value="9">Ultra Nerd</case>
                        <case value="8">Super Nerd</case>
                        <case value="7">Exam Smart</case>
                        <case value="6">Good Attempt</case>
                        <case value="5">Just Passed</case>
                        <case value="4">Almost Can</case>
                        <case value="3">Alamak</case>
                        <case value="2">Alamak</case>
                        <case value="1">Jialat</case>
                        <case value="0">Blur Sotong King</case> 
                    </switch></b>
                award!</h4>
            </div>              

        </div>
        <div class="container">
            <hr class="bg-silver" />
            <h4>Reflections &amp; Discussion</h4>
            <div class="fb-comments" data-href="https://gauravkeerthi.com/reallymeh" data-numposts="5" width="100%"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <i class="fa fa-arrow-left fa-pull-left fa-2x pad20"></i> 
                </div>
                <div class="col-md-4 col-xs-4">
                    <p>Previous topic: Income Inequality</p> 
                </div>
                <div class="col-xs-1"> 
</div>
                <div class="col-md-4 col-xs-4">
                    <p class="text-right">Next topic: Malnutrition</p> 
                </div>
                <div class="col-xs-1 col-md-1">
                    <i class="fa fa-2x pad20 fa-arrow-right"></i> 
                </div>
            </div>
        </div>
        
    </body>     
</html>
