

        <div class="container quiz-title-class">
            <h3>{{ @quiz.name }} (<b>Quiz Results</b>)</h3>
            <div class="well">
                <div class="row">
                    <div class="col-xs-6">{{ date('d M',strtotime(@quiz.createdat)) }}</div>
                    <div class="col-xs-3 text-right">{{ @quiz.numparticipants }} <i class="fa fa-users fa-lg"></i></div>
                    <div class="col-xs-3 text-right">
                        <span class="fb-comments-count" data-href="{{@weburl}}{{@PATH}}"></span> 
                        <i class="fa fa-comments fa-lg"></i> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ @quiz.description  | raw }}</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="container"> <!-- {{ @correctcount = 0 }} -->
            
            <repeat group="{{ @questions }}" key="{{ @count }}" value="{{ @question }}">
            
                <div class="row">
                    <div class="col-md-6">
                        <!--  {{ @currentnumber = @count+1 }} -->
                        <h5>{{ @currentnumber }}. {{ @question.text  | raw }}</h5> 
                        <check if="{{ @question.byline }}">
                            <true><small>{{ @question.byline }}</small></true>                            
                        </check>
                    </div>            
                    <div class="col-md-6">
                        <!-- {{  @currentquestion = 'question'.@currentnumber }} -->

                        <p>You guessed it was: <b>{{strtoupper(@quizresults[@currentquestion])}}</b>                            
                            <check if="{{ strtoupper(@quizresults[@currentquestion]) == strtoupper(@question.correctanswer) }}">
                                <true>
                                    <span class="answer_correct">CORRECT!</span>
                                    <!-- {{ @correctcount = @correctcount +1 }} -->
                                </true>                            
                                <false><span class="answer_wrong">Wrong.</span></false>
                            </check>
                        </p>
                        <p >The correct answer is: <span class="answer_correct" style="float:none">{{ @question.correctanswer }}</span></p>  

                        <div class="well">
                            Other people guessed:  <br/>                            
                            <repeat group="{{@question_results[@count]}}" key="{{@j}}" value="@thisresult">
                                The option <b>{{@thisresult[@currentquestion]}}</b> received <b>{{@thisresult['votes']}}</b> votes <br/>
                            </repeat> 

                            <div class="progress">                                     
                              <repeat group="{{@question_results[@count]}}" key="{{@j}}" value="@thisresult">
                                <div class="progress-bar <check if="{{@j}}%2==0">progress-bar-warning</check>" style="width: {{(@thisresult['votes'] / @quiz.numparticipants)*100 }}%">
                                    <span>{{@thisresult[@currentquestion]}}</span>
                                </div>  
                              </repeat>                                  
                            </div>
                        </div>   
                                              
                        <p>{{ @question.answerwriteup  | raw }}</p>
                    </div>
                    <hr class="bg-silver" style="height:1px" />
                </div>

            </repeat>  
            <div class="well text-center col-sm-6 col-sm-offset-3">
               <!--  <switch expr="@correctcount">
                    <case value="10">{{@award = 'Mugger Toad'}} </case>
                    <case value="9">{{@award = 'Ultra Nerd'}}</case>
                    <case value="8">{{@award = 'Super Nerd'}}</case>
                    <case value="7">{{@award = 'Exam Smart'}}</case>
                    <case value="6">{{@award = 'Good Attempt'}}</case>
                    <case value="5">{{@award = 'Just Passed'}}</case>
                    <case value="4">{{@award = 'Almost Can'}}</case>
                    <case value="3">{{@award = 'Cannot Make It'}}</case>
                    <case value="2">{{@award = 'Alamak'}}</case>
                    <case value="1">{{@award = 'Sibei Jialat'}}</case>
                    <case value="0">{{@award = 'Sotong King'}}</case> 
                </switch> -->
                <img src="{{ @BASE }}/app/views/images/answer{{@correctcount}}.jpg" width="100%" class="img-rounded img-responsive" />
                <h4>
                {{ @correctcount }}/10 correct! You have received the <b>{{@award}}</b> award!</h4>
                <button  class="btn btn-primary btn-sm" onclick="postToFeed()">Challenge your friends on Facebook!</button>
            </div>              

        </div>        

        <div class="container">            

            <h4>Reflections &amp; Discussion</h4>
            <div class="conclusion">{{@quiz.conclusion | raw}}</div>
             <hr class="bg-silver" style="height:1px"/>
            <div class="fb-comments" data-href="{{@weburl}}{{@PATH}}" data-numposts="5" width="100%"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <i class="fa fa-arrow-left fa-pull-left fa-2x pad20"></i> 
                </div>
                <div class="col-md-4 col-xs-4">
                    <p>Previous topic: Income Inequality</p> 
                </div>
                <div class="col-xs-1"> 
</div>
                <div class="col-md-4 col-xs-4">
                    <p class="text-right">Next topic: Malnutrition</p> 
                </div>
                <div class="col-xs-1 col-md-1">
                    <i class="fa fa-2x pad20 fa-arrow-right"></i> 
                </div>
            </div>
        </div>

    <div class="fb-quote"></div>

    <script>
    function postToFeed() {
    // calling the API ...
        var obj = {
          method: 'feed',
          link: '{{@weburl}}quiz/{{@quiz.id}}',
          description: "I took the {{ @quiz.name }} quiz and scored {{ @correctcount }}/10 for the {{@award}} award! Can you do better?",
          picture: '{{@weburl}}app/views/images/answer{{@correctcount}}.jpg',
          name: 'Confirm? Discover the truth about Singapore, 10 hard questions at a time.'       
          };
          FB.ui(obj);
    }
    </script>