
<div class="container">
    <h3>ADMIN: INSERT</h3>
    <div class="col-md-12 form-group" >
        <form  method="POST" action="{{@BASE}}/admin/insert" enctype="multipart/form-data">
            <label class=" col-sm-3 text-right" for="quiz_name">Quiz Name</label>
            <div class="  col-sm-9">
                <input id="quiz_name" type="text" class="form-control" name="name" >
            </div>        

            <label  class=" col-sm-3 text-right" for="editor">Quiz Description</label>
            <div class="col-sm-9">
                <input name="description" type="hidden">
                <div id="editor_description" style="height:200px; margin-bottom: 20px "></div>
            </div>

            <label  class=" col-sm-3 text-right" for="editor">Quiz Description</label>
            <div class="col-sm-9">
                <input type="file" id="quiz_image" name="image" />
            </div>
    

            <loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">            
                <img src="{{@BASE}}/app/views/images/black.jpg" width="100%" height="1px">
                <label class="text-right col-sm-3" for="question{{@i}}">Question {{@i+1}}</label>
                <div class="controls col-sm-9">
                    <input name="question[{{@i}}][text]" id="question{{@i}}_text" type="hidden">
                    <div id="editor_{{@i}}" style="height:100px; margin-bottom: 20px "></div>
                </div> 
                
                <label class="text-right col-sm-3"  >Q{{@i+1}} Byline</label>
                <div class="controls col-sm-9">
                    <input id="question1_byline " type="text" class="form-control " name="question[{{@i}}][byline]">
                </div> 
        
                <label class="text-right col-sm-3"  >Q{{@i+1}} Correct Answer</label>
                <div class="controls col-sm-9">
                    <input   type="text" class="form-control  " name="question[{{@i}}][correctanswer]">
                </div>

                <label class="text-right col-sm-3"  >Q{{@i+1}} Answer Writeup</label>
                <div class="controls col-sm-9">
                    <input name="question[{{@i}}][answerwriteup]" id="question{{@i}}_answerwriteup" type="hidden">
                    <div id="editor_answer{{@i}}" style="height:100px; margin-bottom: 20px "></div>                    
                </div> 

                <label class="text-right col-sm-3" for="question{{@i}}_optiontype">Q{{@i+1}} Option Type</label>
                <div class="controls col-sm-9">
                    <select id="question{{@i}}_optiontype" class="form-control" data-role="select"  name="question[{{@i}}][optiontype]">
                        <option value="100percent">100percent</option>
                        <option value="trueorfalse" selected>trueorfalse</option>
                        <option value="realorfake" selected>realorfake</option>
                        <option value="months">months</option>
                        <option value="CUSTOM">CUSTOM</option>
                    </select>                    
                </div> 

                <label class="text-right col-sm-3"  >Q{{@i+1}} CUSTOM OPTIONS (only if CUSTOM was selected)</label>
                <div class="controls col-sm-9" id="customoption{{@i}}" style="display:none">
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][0]"></div>
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][1]"></div>
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][2]"></div>
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][3]"></div>
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][4]"></div>
                    <div class="col-xs-2"><input   type="text" class="form-control  " name="question[{{@i}}][custom][5]"></div>
                </div>

            </loop>
     
        <button class="btn btn-primary btn-block" type="submit">Add this Quiz</button>       
        
        </form>
    </div>
</div>



    <script>
        <loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}"> 
         $(function () {
          $("#question{{@i}}_optiontype").change(function() {
            var val = $(this).val();
            if(val === "CUSTOM") {
                $("#customoption{{@i}}").show();            
            }
            else {        
                $("#customoption{{@i}}").hide();
            }
          });
        });
         </loop>
    </script>

    <script>
    // init the quill

        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            [{ list: 'ordered' }],
            ['link', 'image'],
            ['clean']                                         // remove formatting button
            ];
        
        var Parchment = Quill.import('parchment');
        var Block = Parchment.query('block');
        Block.tagName = 'SPAN';
        // or class NewBlock extends Block {}; NewBlock.tagName = 'DIV';
        Quill.register(Block /* or NewBlock */, true);

      var quill_description = new Quill('#editor_description', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
      });

      <loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">    
            var quill_question{{@i}} = new Quill('#editor_{{@i}}', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
          });
      </loop>

        <loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">    
            var quill_answer{{@i}} = new Quill('#editor_answer{{@i}}', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
          });
      </loop>

      var form = document.querySelector('form');
        form.onsubmit = function() {
          // Populate hidden input for quiz description on submit
          var description = document.querySelector('input[name=description]');
          description.value =  quill_description.container.firstChild.innerHTML;       

          <loop from="{{ @i=0 }}" to="{{ @i < 10 }}" step="{{ @i++ }}">                  
            // Populate hidden input for question text
            var question = document.getElementById('question{{@i}}_text');
            question.value =  quill_question{{@i}}.container.firstChild.innerHTML; 
          // Populate hidden input for question answerwriteup
            var answerwriteup = document.getElementById('question{{@i}}_answerwriteup');
            answerwriteup.value =  quill_answer{{@i}}.container.firstChild.innerHTML; 
          </loop>
      }
          


    </script> 
    </div>

