
    <div <check if="@quiz.image">style="background: url('{{@BASE}}/{{@quiz.image}}') center bottom no-repeat; background-size: cover; margin-bottom:20px; margin-top:-20px" </check>>
        <div class="container quiz-title-class">
           
            <div class="well">
                <h3>{{ @quiz.name }}</h3>
                <div class="row">
                    <div class="col-xs-6">{{ date('d M',strtotime(@quiz.createdat)) }}</div>
                    <div class="col-xs-3 text-right">{{ @quiz.numparticipants }} <i class="fa fa-users fa-lg"></i></div>
                    <div class="col-xs-3 text-right">
                        <span class="fb-comments-count" data-href="http://www.gauravkeerthi.com/reallymeh/quiz/{{@eachquiz.id}}"></span> 
                        <i class="fa fa-comments fa-lg"></i> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ @quiz.description | raw }}</p>
                    </div>
                </div>
            </div>             
        </div>
    </div>
    <form method="POST" action="{{@BASE}}/answer/{{@quiz.id}}">
        <input type="hidden" name="quiz_id_fk" value="{{@quiz.id}}">
        <input type="hidden" name="ipaddress" value="{{$_SERVER['REMOTE_ADDR']}}">
        
        <div class="container">
        
        <repeat group="{{ @questions }}" key="{{ @count }}" value="{{ @question }}">
            
            <div class="row">
                <div class="col-md-8">
                    <h5>{{ @count + 1 }}. {{ @question.text | raw }}</h5>
                    <check if="{{ @question.byline }}">
                        <true><small>{{ @question.byline }}</small></true>                            
                    </check> 
                </div>            
                <div class="col-md-4">
                  <switch expr="{{@question.options[0].optiontype}}">

                    <case value="100percent">
                        <select class="form-control bg-silver" name="question{{@count+1}}"> 
                            <option value="0-10%">0-10%</option>
                            <option value="11-20%">11-20%</option>
                            <option value="21-30%">21-30%</option>
                            <option value="31-40%">31-40%</option>
                            <option value="41-50%">41-50%</option>
                            <option value="51-60%">51-60%</option>
                            <option value="61-70%">61-70%</option>
                            <option value="71-80%">71-80%</option>
                            <option value="81-90%">81-90%</option>
                            <option value="91-100%">91-100%</option> <!-- Need to fix percentage matching-->
                        </select> 
                    </case>

                    <case value="months">
                        <select class="form-control bg-silver" name="question{{@count+1}}"> 
                            <option value="January">January</option>                           
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </case>

                    <case value="trueorfalse">
                        <div class="radio"> 
                            <ul class="radio-button" name="question{{@count+1}}">
                                <li>
                                    <input type="radio" name="question{{@count+1}}" value="True" checked id="question{{@count+1}}_true">
                                    <label for="question{{@count+1}}_true">True</label>                                 
                                </li>
                                <li>
                                    <input type="radio" name="question{{@count+1}}" value="False" id="question{{@count+1}}_false">
                                    <label for="question{{@count+1}}_false">False</label>                                 
                                </li>
                            </ul>
                        </div>
                    </case>

                    <case value="CUSTOM">
                        <div class="radio"> 
                            <ul class="radio-button">
                                <repeat group="@question.options" value="@option" counter="@i">
                                <check if="@i==1">
                                    <true>
                                        <li>
                                            <input type="radio" name="question{{@count+1}}" value="{{@option.text}}" checked id="question{{@count+1}}_{{@i}}">
                                            <label for="question{{@count+1}}_{{@i}}">{{@option.text}}</label>
                                        </li>
                                    </true>
                                    <false>
                                        <li>
                                            <input type="radio" name="question{{@count+1}}" value="{{@option.text}}" id="question{{@count+1}}_{{@i}}">
                                            <label for="question{{@count+1}}_{{@i}}">{{@option.text}}</label>
                                        </li>
                                    </false>
                                </check>
                                </repeat>
                            </ul>                             
                        </div>                                     
                    </case>

                  </switch>    
                           
                </div>
            </div>
             <hr class="bg-silver" style="height:1px"/>
        </repeat>    
        <hr class="bg-silver" />
        </div>
        
        <div class="container">
            <div class="well">
                <p>In order to compare your results against other participants, we need to know a little bit about you. We do <b>not</b> require your name, email, or any other personal identification information.</p>
            </div>
            <table class="table"> 
                <tr> 
                    <td class="pad20 col-xs-3">Your Gender:</td> 
                    <td class="col-xs-9">
                        <div class="radio"> 
                            <ul class="radio-button">
                                <li>
                                    <input type="radio" name="gender" value="male" checked id="gender_m">
                                    <label for="gender_m">MALE</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="gender" value="female" id="gender_f">
                                    <label for="gender_f">FEMALE</label>                                     
                                </li>
                            </ul>                             
                        </div>
                    </td>                     
                </tr>                 
                <tr> 
                    <td class="pad20">Your Age:</td> 
                    <td>
                        <div class="radio"> 
                            <ul class="radio-button">
                                <li>
                                    <input type="radio" name="age" value="10" checked id="age_10">
                                    <label for="age_10">&lt; 19</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="age" value="20" id="age_20">
                                    <label for="age_20">20s</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="age" value="30" id="age_30">
                                    <label for="age_30">30s</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="age" value="40" id="age_40">
                                    <label for="age_40">40s</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="age" value="50" id="age_50">
                                    <label for="age_50">50s</label>                                     
                                </li>
                                <li>
                                    <input type="radio" name="age" value="60" id="age_60">
                                    <label for="age_60">&gt; 60</label>                                     
                                </li>
                            </ul>                             
                        </div>
                    </td>                     
                </tr>
                <tr> 
                    <td class="pad20">Your Race:</td> 
                    <td>
                        <ul class="radio-button">
                            <li>
                                <input type="radio" name="race" value="chinese" checked id="race_c">
                                <label for="race_c">CHINESE</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="race" value="malay" id="race_m">
                                <label for="race_m">MALAY</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="race" value="indian" id="race_i">
                                <label for="race_i">INDIAN</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="race" value="others" id="race_o">
                                <label for="race_o">OTHERS</label>                                 
                            </li>
                        </ul>                         
                    </td>                     
                </tr>
                <tr> 
                    <td class="pad20">Your Religion:</td> 
                    <td>
                        <ul class="radio-button">
                            <li>
                                <input type="radio" name="religion" value="buddhism" checked id="religion_b">
                                <label for="religion_b">BUDDHISM</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="christianity" id="religion_c">
                                <label for="religion_c">CHRISTIANITY</label>                                 
                            </li>                             
                            <li>
                                <input type="radio" name="religion" value="islam" id="religion_i">
                                <label for="religion_i">ISLAM</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="taoism" id="religion_t">
                                <label for="religion_t">TAOISM</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="hinduism" id="religion_h">
                                <label for="religion_h">HINDUISM</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="sikhism" id="religion_s">
                                <label for="religion_s">SIKHISM</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="other" id="religion_o">
                                <label for="religion_c">OTHER</label>                                 
                            </li>
                            <li>
                                <input type="radio" name="religion" value="none" id="religion_n">
                                <label for="religion_n">NONE</label>                                 
                            </li>
                        </ul>                         
                    </td>                     
                </tr>                 
                <tr> 
                    <td class="pad20">Your Location:</td> 
                    <td class="pad20"><input type="hidden" name="location" value="singapore">Singapore</td> 
                </tr>                 
            </table>
            <button class="btn btn-primary btn-block">Compute results</button>
            <hr class="bg-silver" />
        </div> 
    </form>

    </body>     
</html>
